	<% if @book_new.errors.any? %>
	 <div id="error_explanation">
	 	<h2><%= @book_new.errors.count %> error prohibited this book from being saved:</h2>
	 	<ul>
	 		<% @book_new.errors.full_messages.each do |msg| %>
	 		 <li><%= msg %></li>
	 		<% end %>
	 	</ul>
	 </div>
	<% end %>

	<!-- User info -->
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
		<table class="table">
			<tbody>
				<tr>
					<th>name</th>
					<th><%= user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= user.introduction %></th>
				</tr>
			</tbody>
		</table>
		<% if user.id == current_user.id %>
	        <p><%= link_to "🔧", edit_user_path(user), class: "col-xs-12 btn btn-default" %></p>
	    <% end %>


	<!-- New book -->
		<h1>New book</h1>

		<%= form_for(book_new) do |f| %>

		    <%= f.label :title %>
		    <%= f.text_field :title, class: "col-xs-12" %>

		    <%= f.label :body %>
		    <%= f.text_area :body, class: "col-xs-12" %>
		    <br>
		    <%= f.submit 'Create Book', class: "col-xs-12 btn btn-default" %>
		<% end %>

	</div>



