  <div class="low">
	<!-- User info -->
	<div class="col-xs-3">
		<h2>User info</h2>
		<%= attachment_image_tag user, :profile_image, :fill, 60, 60, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg" %>
		<table class="table">
			<tbody>
				<tr>
					<th>name</th>
					<th><%= user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= user.introduction %></th>
				</tr>
			</tbody>
		</table>
		<% if user.id == current_user.id %>
	        <p><%= link_to "🔧", edit_user_path(user), class: "col-xs-12 btn btn-default" %></p>
	    <% end %>


	<!-- New book -->
		<h1>New book</h1>

		<%= form_for(book_new) do |f| %>

		  <div class="">
		    <h4>title</h4>
		    <%= f.text_field :title %>

		    <h4>opinion</h4>
		    <%= f.text_area :body %>

		    <%= f.submit 'Create Book', class: "col-xs-12 btn btn-default" %>
		  </div>
		<% end %>

	</div>

  </div>
