<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span>Bookers</span>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><a class=""><%= link_to 'Home', user_path(current_user.id) %></a></li>
            <li><a class="">User</a></li>
            <li><a class="">Books</a></li>
            <li><a class=""><%= link_to 'logout', destroy_user_session_path, method: :delete %></a></li>
          <% else %>
            <li><a class=""><%= link_to "Home", '/' %></a></li>
            <li><a class=""><%= link_to "About", '/about' %></a></li>
            <li><a class=""><%= link_to "signin", new_user_registration_path %></a></li>
            <li><a class=""><%= link_to "login", new_user_session_path %></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
